*
{
    background-color: pink;
    text-align: center;
    font-family: monospace;
}

h1
{
    color: purple;
    font-size: 40px;
}

.miniheader
{
    font-size: 20px;
    border-style: inset;
    outline-style: groove;

}